*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
:root{
--main-color: #fff;
--secondary-color: #000;
}
/* Header section ===================================================================================================== */
#header{
height: 130vh;
padding-top: 100px;
background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../img/bg/bg-1.png);
background-size: cover;
}
.nav{
align-items: center;
}
.nav ul, nav input{
padding: 20px 60px;
border-radius: 30px;
background: var(--main-color);
box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}
.nav ul{
list-style-type: none;
}
.nav input{
border: none;
outline: none;
font-size: 10px;
font-weight: 600;
font-size: 16px;
color: #b0b1b3;
}
.nav input::placeholder{
color: #b0b1b3;
text-align: center;
}
.nav-a{
text-decoration: none;
color: var(--secondary-color);
margin: 0 32px;
}
.header-main{
grid-template-columns: 1fr 1fr;
margin-top: 170px;
}
.header-main img{
display: block;
margin: 0 auto 70px;
width: 200px;
}
.header-main p:first-of-type{
font-style: italic;
font-weight: 800;
color: var(--main-color);
text-align: center;
}
.header-main p:last-of-type{
width: 90%;
margin: 30px auto 0;
text-align: center;
color: var(--main-color);
font-weight: 400;
font-style: italic;
}
/* Recipe section ===================================================================================================== */
#recipe{
background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(../img/bg/bg-2.png);
background-size: cover;
background-position: center;
padding: 300px 0;
}
#recipe p{
text-align: center;
}
#recipe p:nth-child(1), #recipe p:nth-child(2){
text-transform: uppercase;
color: var(--main-color);
}
#recipe p:nth-child(1){
font-weight: 600;
}
#recipe p:nth-child(2){
font-weight: 800;
font-style: italic;
}
#recipe p:last-of-type{
width: 50%;
margin: 0 auto;
color: var(--main-color);
}
/* Utility classes ============================================================================================================ */
.container{
width: 80%;
margin: 0 auto;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.flex-container-center{
display: flex;
justify-content: center;
}
.grid-container{
display: grid;
}
.text-xs{
font-size: 15px;
}
.text-sm{
font-size: 16px;
font-weight: 600;
}
.text-md{
font-size: 24px;
}
.text-lg{
font-size: 30px;
}
.text-xl{
font-size: 60px;
}
.text-xxl{
font-size: 120px;
}
.btn{
display: block;
width: fit-content;
margin: 50px auto 0;
text-decoration: none;
padding: 10px 35px;
border: 3px solid var(--main-color);
border-radius: 30px;
color: var(--main-color);
text-transform: uppercase;
}
.line{
width: 200px;
background: var(--main-color);
height: 3px;
margin: 30px auto;
}
